body * {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.answerChoice, button {
    cursor: pointer;
}

html,body
{
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    background: url('http://www.isobc.org/data/Basketball-Court-10001000-Boston.jpg') fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.opening {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

ul li {
    list-style: none;
}

h1 {
    margin-top: 125px;
    margin-bottom: 25px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 166, 0, 0.7);
}

header {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 4px solid orange;
    background-color: black;
    color: orange;
}

header ul {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    line-height: 1.5;
}

.question {
    position: relative;
    padding-right: 50px;
    right: 30px;
}

.startButton {
    font-family: 'Press Start 2P', cursive;
    border: 4px solid black;   
    border-radius: 100%;
    padding: 50px 10px;
    margin-top: 100px;
    background-color: rgba(255, 162, 0, 1);
}

.startButton:hover {
    background-color: brown;
    color: white;
}

.js-quizForm {
    font-family: 'Ubuntu', sans-serif;
    display: none;
}

form {
    width: 80%;
    border: 1px solid black;
    padding: 10px;
    margin-top: 35px;
    background-color: beige;
}

fieldset {
    border: none;
}
.questionString {
    text-align: left;
    font-size: 20px;
}

.answerChoice {
    text-align: left;
    display: block;
    position: relative;
    margin-top: 15px;
    font-size: 15px;
    background-color: black;
    color: orange;
    padding: 10px;
}

.answerChoice:hover {
    background-color: gray;
    color: white;
}

.rightAnswer {
    display: none;
}

form, .submitButton {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.answerFeedback {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: rgba(247, 247, 247, 0.7);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
}

.answerFeedback img {
    height: 22%;
    width: 62%;
}

.submitButton {
    padding: 10px 25px 10px 25px;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: orange;
    border: 2px solid orange;
}

.submitButton:hover {
    background-color: orange;
    color: black;
}

h2 {
    font-size: 25px;;
}

.nextButton {
    margin-top: 10px;
    padding: 10px 30px;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: orange;
    border: 2px solid orange;
}

.nextButton:hover {
    background-color: orange;
    color: black;
}

.answerFeedback p {
    font-size: 15px;
}

.resultsPage {
    text-align: center;
    margin-top: 20px;
    background-color: rgba(247, 247, 247, 0.7);
    padding-bottom: 20px;
    padding-top: 20px;
    width: 90%;
}

.resultsPage p {
    font-size: 20px;
}

.resultsPage img {
    height: 30%;
    width: 70%;
}

.resetButton {
    margin-top: 10px;
    padding: 20px 41px 20px 40px;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: orange;
    border: 2px solid orange;
}

.resetButton:hover {
    background-color: orange;
    color: black;
}

@media only screen and (min-width: 400px) {
    h1 {
        margin-top: 150px;
        margin-bottom: 50px;
        font-size: 40px;
    }

    header ul {
        font-size: 18px;
    }

    .startButton {
        padding: 60px 20px;
    }

    .answerChoice {
        margin-top: 20px;
        font-size: 20px;
    }

    form, .submitButton {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 50px;
    }

    .answerFeedback p {
        font-size: 20px;
    }
}

@media only screen and (min-width: 700px) {
    h1 {
        font-size: 50px;
        margin-top: 220px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    header ul {
        font-size: 28px;
    }

    .startButton {
        font-family: 'Press Start 2P', cursive;
        border: 4px solid black;   
        border-radius: 100%;
        font-size: 30px;
        padding: 120px 35px;
        margin-top: 100px;
        background-color: rgba(255, 162, 0, 1);
    }

    form {
        width: 80%;
        border: 1px solid black;
        padding: 10px;
        margin-top: 35px;
        background-color: beige;
    }
    
    .answerFeedback {
        margin-top: 50px;
        width: 70%;
    }

    .answerFeedback p {
        font-size: 25px;
    }

    .questionString {
        text-align: left;
        font-size: 40px;
    }
    
    .nextButton {
        padding: 20px 40px;
    }

    .answerChoice {
        text-align: left;
        display: block;
        position: relative;
        margin-top: 40px;
        font-size: 30px;
        background-color: black;
        color: orange;
        padding: 20px;
    }

    .submitButton {
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 20px 35px 20px 35px;
        font-family: 'Press Start 2P', cursive;
        background-color: black;
        color: orange;
        border: 2px solid orange;
    }

    .resultsPage {
        width: 70%;
    }
}

@media only screen and (min-width: 1000px) {
    form {
        width: 50%;
    }

    .question {
        margin-right: 700px;
    }

    .answerFeedback {
        width: 50%;
    }

    .resultsPage {
        width: 50%;
    }
}